%setdefault('napaka', '')
%rebase('base.html', naslov='Urejanje ekipe', napaka=napaka)

<div class="jumbotron">
    <div class="container">    
        <form action="{{url('ekipa_uredi_post', ime=ekipa[0])}}", method="post">
                <div class="form-group col-mb-3">
                    <label for="novo_ime">Ime:</label>
                    <input id="novo_ime" name="novo_ime" type="text" class="form-control" placeholder="Ime" value="{{ekipa[0]}}" required
                    oninput="this.setCustomValidity('')"
                    oninvalid="this.setCustomValidity('Polje je obvezno!')">
                </div>
                <div class="form-group col-mb-3">
                    <label for="mesto">Mesto:</label>
                    <input id="mesto" name="mesto" type="text" class="form-control" placeholder="Mesto" value="{{ekipa[1]}}" required
                    oninput="this.setCustomValidity('')"
                    oninvalid="this.setCustomValidity('Polje je obvezno!')">
                </div>
                <div class="form-group col-mb-3">
                    <label for="stadion">Stadion:</label>
                    <input id="stadion" name="stadion" type="text" class="form-control" placeholder="Stadion" value="{{ekipa[2]}}" required
                    oninput="this.setCustomValidity('')"
                    oninvalid="this.setCustomValidity('Polje je obvezno!')">
                </div>
            <button type="submit" class="btn btn-primary">Uredi ekipo</button>
        </form>
    </div>
    </div>

