%rebase('base.html', naslov='Seznam ekip')


<body>


    <table cellpadding="0" cellspacing="0" border="1" align="center">
    <tr>
        <th>Ime ekipe</th>
        <th>Stadion</th>
        <th>Mesto</th>
    </tr>
    %for (ime, stadion, mesto) in ekipa:
        <tr>
            <td>{{ime}}</td>
            <td>{{stadion}}</td>
            <td>{{mesto}}</td>
        </tr>
    %end
    </table>

    <br>

    <div class="container" align="center">
        <input class="btn btn-secondary" value="Nazaj" onclick="history.back()">
    </div>
</body>