%setdefault('napaka', '')
%rebase('base.html', naslov='Seznam ekip', napaka=napaka)

    

<div class="jumbotron" align="center">
    %if napaka:
        <div class="jumbotron" align="center">
        
        </div>
    %end
    <div class="input-group justify-content-center">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Iskanje" title="Vnesi besedo">
        <div class="input-group-append ">
            <a class="btn btn-success" href="{{url('ekipa_dodaj')}}">Dodaj ekipo</a>
        </div>
    </div>
        
    
    
    <br>
    <table class="table table-striped" id="myTable" align="center">
        <thead class="thead-dark">
            <tr>
                <th>
                    Ekipa
                </th>
                <th>
                    Stadion
                </th>
                <th>
                    Mesto
                </th>
                <th>
                    Urejanje
                </th>
            </tr>
        </thead>
        %for (ime, stadion, mesto) in ekipa:
            <tr>
                <td>{{ime}}</td>
                <td>{{stadion}}</td>
                <td>{{mesto}}</td>
                <td>
                    <div class="btn-group " role="group">
                        <form action="{{url('ekipa_uredi_get', ime=ime)}}" method="get">
                            <button type="submit" class="btn btn-primary">Uredi</button>
                        </form>
                        <form action="{{url('ekipa_odstrani', ime=ime)}}" method="post">
                            <button type="submit" class="btn btn-danger">Odstrani</button>
                        </form>
                    </div>
                </td>
            </tr>
        %end
    </table>
</div>
