%rebase('base.html', naslov='Seznam vseh zabeleženih golov v ligi')

<body>


    <table cellpadding="0" cellspacing="0" border="1">
    <tr>
        <th>Domača ekipa</th>
        <th>Gostujoča ekipa</th>
        <th>Strelec</th>
        <th>Podajalec</th>
        <th>Ekipa</th>
    </tr>
    %for (domaca_ekipa,tuja_ekipa, ime_strelca,priimek_strelca, ime_podajalca, priimek_podajalca, ekipa) in goli:
        <tr>
            <td>{{domaca_ekipa}}</td>
            <td>{{tuja_ekipa}}</td>
            <td>{{ime_strelca}} {{priimek_strelca}}</td>
            <td>{{ime_strelca}} {{priimek_podajalca}}</td>
            <td>{{ekipa}}</td>
        </tr>
    %end
    </table>

    <br>

    <div class="container" align="center">
        <input class="btn btn-secondary" value="Nazaj" onclick="history.back()">
    </div>
</body>
