<html>
<head>
    <title>Seznam golov</title>
</head>
<p>
    <a href="../"><button>Domov</button></a>
    <a href="/ekipa"><button>Ekipe</button></a>
    <a href="/oseba"><button>Seznam vseh oseb v ligi</button></a>
    <a href="/igralec"><button>Igralci</button></a>
    <a href="/zaposlen"><button>Zaposleni</button></a>
    <a href="/tekma"><button>Tekme</button></a>
    <a href="/goli"><button>Seznam golov</button></a>
 </p>
<body>
    <h2>Seznam vseh zabeleženih golov v ligi</h2>

    <table cellpadding="0" cellspacing="0" border="1">
    <tr>
        <th>ID tekme</th>
        <th>EMŠO strelca</th>
        <th>EMŠO podajalca</th>
    </tr>
    %for (id_tekme, strelec, podajalec) in goli:
        <tr>
            <td>{{id_tekme}}</td>
            <td>{{strelec}}</td>
            <td>{{podajalec}}</td>
        </tr>
    %end
    </table>

    <br>

    <form>
        <input type="button" value="Nazaj" onclick="history.back()">
    </form>
</body>
