%rebase('base.html', naslov='Lestvica ekip IV. amaterske nogometne lige')

<div class="jumbotron" align="center">
    <div class="input-group justify-content-center">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Iskanje" title="Vnesi besedo">
    </div>

    <br>

    <table class="table table-striped" id="myTable" align="center">
    <thead class="thead-dark">
        <th>Ekipa</th>
        <th>Število odigranih tekem</th>
        <th>Zmage</th>
        <th>Remijij</th>
        <th>Porazi</th>
        <th>Točke</th>
    </thead>
    %for (ekipa,tekme,zmage,remi,porazi,tocke) in lestvica:
        <tr>
            <td>{{ekipa}}</td>
            <td>{{tekme}}</td>
            <td>{{zmage}}</td>
            <td>{{remi}}</td>
            <td>{{porazi}}</td>
            <td>{{tocke}}</td>
        </tr>
    %end
    </table>
</div>

<br>
<form>
    <input type="button" value="Nazaj" onclick="history.back()">
</form>
