%rebase('base.html', naslov='Dodajanje osebe')

<div class="jumbotron">
    <div class="container">    
        <form action="{{url('oseba_dodaj_post')}}", method="post">
            <div class="form-group col-mb-3">
                <label for="nov_emso">EMŠO</label>
                <input id="nov_emso" name="nov_emso" type="number" class="form-control" placeholder="EMŠO" required="required">
            </div>
            <div class="form-group col-mb-3">
                <label for="ime">Ime</label>
                <input id="ime" name="ime" type="text" class="form-control" placeholder="Ime" required="required">
            </div>
            <div class="form-group col-mb-3">
                <label for="priimek">Priimek</label>
                <input id="priimek" name="priimek" type="text" class="form-control" placeholder="Priimek" required="required">
            </div>
            <div class="form-group col-mb-3">
                <label for="rojstni_dan">Rojstni dan</label>
                <input id="rojstni_dan" name="rojstni_dan" type="text" class="form-control" placeholder="Rojstni dan" required="required">
            </div>
            <div class="form-group col-mb-3">
                <label for="ekipa">Ekipa</label>
                <input id="ekipa" name="ekipa" type="text" class="form-control" placeholder="Ekipa" required="required">
            </div>

            <button type="submit" class="btn btn-primary">Dodaj osebo</button>
        </form>
    </div>
    </div>