%setdefault('napaka', '')
%rebase('base.html', napaka=napaka, naslov='Dodajanje osebe')

<div class="jumbotron">
    <div class="container">    
        <form action="{{url('oseba_dodaj_post')}}", method="post">
            <div class="form-group">
                <label for="emso">EMŠO:</label>
                <input id="emso" name="emso" type="number" class="form-control" placeholder="EMŠO" required
                oninput="this.setCustomValidity('')"
                oninvalid="this.setCustomValidity('Polje je obvezno!')">
            </div>
            <div class="form-group">
                <label for="ime">Ime:</label>
                <input id="ime" name="ime" type="text" class="form-control" placeholder="Ime" required
                oninput="this.setCustomValidity('')"
                oninvalid="this.setCustomValidity('Polje je obvezno!')">
            </div>
            <div class="form-group">
                <label for="priimek">Priimek:</label>
                <input id="priimek" name="priimek" type="text" class="form-control" placeholder="Priimek" required
                oninput="this.setCustomValidity('')"
                oninvalid="this.setCustomValidity('Polje je obvezno!')">
            </div>
            <div class="form-group">
                <label for="rojstni_dan">Rojstni dan:</label>
                <input id="rojstni_dan" name="rojstni_dan" type="date" class="form-control" placeholder="Rojstni dan" required
                oninput="this.setCustomValidity('')"
                oninvalid="this.setCustomValidity('Polje je obvezno!')">
            </div>
            <div class="form group">
                <label for="ekipa">Ekipa:</label>
                <select name="ekipa">
                    %for (ime, mesto, stadion) in ekipe:
                        <option value="{{ime}}">{{ime}}</option>
                    %end
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Dodaj osebo</button>
        </form>
    </div>
    </div>