%rebase('base.html', naslov='Seznam najboljših podajalcev')

<div class="jumbotron" align="center">
    <div class="input-group justify-content-center">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Iskanje" title="Vnesi besedo">
    </div>
    <br>
    <table class="table table-striped" id="myTable" align="center">
        <thead class="thead-dark">
            <th>Igralec</th>
            <th>Število podaj</th>
            <th>Ekipa</th>
        </thead>
    %for (ime_podajalca,priimek_podajalca, stevilo_podaj,ekipa) in podajalci:
        <tr>
            <td>{{ime_podajalca}} {{priimek_podajalca}}</td>
            <td>{{stevilo_podaj}}</td>
            <td>{{ekipa}}</td>
        </tr>
    %end
    </table>
</div>
<br>
<div class="container" align="center">
    <input class="btn btn-secondary" value="Nazaj" onclick="history.back()">
</div>

