%rebase('base.html', naslov='Dodajanje tekme')

<div class="jumbotron">
    <div class="container">    
        <form action="{{url('tekma_dodaj_post')}}", method="post">
            <div class="form-group">
                <label for="id_tekme">ID tekme</label>
                <input id="id_tekme" name="id_tekme" type="number" class="form-control" placeholder="ID tekme" required>
            </div>
            <div class="form-group">
                <label for="goli_domace">Goli domače ekipe</label>
                <input id="goli_domace" name="goli_domace" type="number" class="form-control" placeholder="Goli domače ekipe" required>
            </div>
            <div class="form-group">
                <label for="goli_tuje">Goli tuje ekipe</label>
                <input id="goli_tuje" name="goli_tuje" type="number" class="form-control" placeholder="Goli tuje ekipe" required>
            </div>
            <div class="form group">
                <label for="domaca_ekipa">Domača ekipa</label>
                <select name="domaca_ekipa">
                    %for ekipa in ekipe:
                        <option value="{{ekipa[0]}}">{{ekipa[0]}}</option>
                    %end
                </select>
            </div>
            <div class="form group">
                <label for="tuja_ekipa">Tuja ekipa</label>
                <select name="tuja_ekipa">
                    %for ekipa in ekipe:
                        <option value="{{ekipa[0]}}">{{ekipa[0]}}</option>
                    %end
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Dodaj tekmo</button>
        </form>
    </div>
    </div>