%setdefault('napaka', '')
%rebase('base.html', naslov='Urejanje tekme')

<div class="jumbotron">
    <div class="container">    
        <form action="{{url('tekma_uredi_post', id_tekme=tekma[0])}}", method="post">
            <div class="form-group col-mb-3">
                <label for="goli_domace">Goli domače ekipe:</label>
                <input id="goli_domace" name="goli_domace" type="number" class="form-control" placeholder="Goli domače ekipe" value="{{tekma[3]}}" required
                oninput="this.setCustomValidity('')"
                oninvalid="this.setCustomValidity('Polje je obvezno!')">
            </div>
            <div class="form-group col-mb-3">
                <label for="goli_tuje">Goli tuje ekipe:</label>
                <input id="goli_tuje" name="goli_tuje" type="number" class="form-control" placeholder="Goli tuje ekipe" value="{{tekma[4]}}" required
                oninput="this.setCustomValidity('')"
                oninvalid="this.setCustomValidity('Polje je obvezno!')">
            </div>
            <div class="form group">
                <label for="domaca_ekipa">Domača ekipa:</label>
                <select name="domaca_ekipa">
                    <option selected="selected" value="{{tekma[1]}}">{{tekma[1]}}</option>
                    %for ekipa in ekipe:
                        <option value="{{ekipa[0]}}">{{ekipa[0]}}</option>
                    %end
                </select>
            </div>
            <div class="form group">
                <label for="tuja_ekipa">Tuja ekipa:</label>
                <select name="tuja_ekipa">
                    <option selected="selected" value="{{tekma[2]}}">{{tekma[2]}}</option>
                    %for ekipa in ekipe:
                        <option value="{{ekipa[0]}}">{{ekipa[0]}}</option>
                    %end
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Dodaj tekmo</button>
        </form>
    </div>
    </div>