%rebase('base.html', naslov='Urejanje tekme')

<div class="jumbotron">
    <div class="container">    
        <form action="{{url('tekma_uredi_post', id_tekme=tekma[0])}}", method="post">
            <div class="form-group col-mb-3">
                <label for="id_tekme">ID tekme</label>
                <input id="id_tekme" name="id_tekme" type="number" class="form-control" placeholder="id_tekme" value="{{tekma[0]}}"  required="required">
            </div>
            <div class="form-group col-mb-3">
                <label for="domaca_ekipa">Domača ekipa</label>
                <input id="domaca_ekipa" name="domaca_ekipa" type="text" class="form-control" placeholder="Domača ekipa" value="{{tekma[1]}}" required="required">
            </div>
            <div class="form-group col-mb-3">
                <label for="tuja_ekipa">Tuja ekipa</label>
                <input id="tuja_ekipa" name="tuja_ekipa" type="text" class="form-control" placeholder="Tuja ekipa" value="{{tekma[2]}}" required="required">
            </div>
            <div class="form-group col-mb-3">
                <label for="goli_domace">Goli domače ekipe</label>
                <input id="goli_domace" name="goli_domace" type="number" class="form-control" placeholder="Goli domače ekipe" value="{{tekma[3]}}" required="required">
            </div>
            <div class="form-group col-mb-3">
                <label for="goli_tuje">Goli tuje ekipe</label>
                <input id="goli_tuje" name="goli_tuje" type="number" class="form-control" placeholder="Goli tuje ekipe" value="{{tekma[4]}}" required="required">
            </div>

            <button type="submit" class="btn btn-primary">Dodaj tekmo</button>
        </form>
    </div>
    </div>