%rebase('base.html', naslov='Seznam zaposlenih v ligi')

<div class="jumbotron" align="center">
    <div class="input-group justify-content-center">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Iskanje" title="Vnesi besedo">
        <div class="input-group-append ">
            <button type="submit" class="btn btn-success">Dodaj zaposlenega</button>
            <button type="submit" class="btn btn-danger">Odstrani zaposlenega</button>
        </div>
    </div>
    
    <br>
    <table class="table table-striped" id="myTable" align="center">
        <thead class="thead-dark">
                <tr>
                    <th>Ime</th>
                    <th>Priimek</th>
                    <th>Delovno mesto</th>
                    <th>Plača</th>
                    <th>Ekipa</th>
                </tr>
        </thead>
        %for (ime,priimek,delovno_mesto, placa,ekipa) in zaposlen:
            <tr>
                <td>{{ime}}</td>
                <td>{{priimek}}</td>
                <td>{{delovno_mesto}}</td>
                <td>{{placa}}</td>
                <td>{{ekipa}}</td>
            </tr>
        %end
    </table>
</div>

<br>
<div class="container" align="center">
    <input class="btn btn-secondary" value="Nazaj" onclick="history.back()">
</div>



    