%rebase('base.html', naslov='Urejanje zaposlenega')

<div class="jumbotron">
    <div class="container">    
        <form action="{{url('zaposlen_uredi_post', emso=zaposlen[0])}}", method="post">
                <div class="form-group col-mb-3">
                    <label for="nov_emso">EMŠO</label>
                    <input id="nov_emso" name="nov_emso" type="number" class="form-control" placeholder="EMŠO" value="{{zaposlen[0]}}" required="required">
                </div>
                <div class="form-group col-mb-3">
                    <label for="delovno_mesto">Ime</label>
                    <input id="delovno_mesto" name="delovno_mesto" type="text" class="form-control" placeholder="Delovno mesto" value="{{zaposlen[1]}}" required="required">
                </div>
                <div class="form-group col-mb-3">
                    <label for="placa">Plača</label>
                    <input id="placa" name="placa" type="text" class="form-control" placeholder="Plača" value="{{zaposlen[2]}}" required="required">
                </div>
            <button type="submit" class="btn btn-primary">Uredi zaposlenega</button>
        </form>
    </div>
    </div>
