%rebase('base.html', naslov='Seznam zaposlenih v ligi')

    <body>
    
        <table cellpadding="0" cellspacing="0" border="1">
        <tr>
            <th>Ime</th>
            <th>Priimek</th>
            <th>Delovno mesto</th>
            <th>Plača</th>
            <th>Ekipa</th>
        </tr>
        %for (ime,priimek,delovno_mesto, placa,ekipa) in zaposlen:
            <tr>
                <td>{{ime}}</td>
                <td>{{priimek}}</td>
                <td>{{delovno_mesto}}</td>
                <td>{{placa}}</td>
                <td>{{ekipa}}</td>
    
            </tr>
        %end
        </table>
    
        <br>
    
        <div class="container" align="center">
            <input class="btn btn-secondary" value="Nazaj" onclick="history.back()">
        </div>
    </body>
    