%setdefault('napaka', '')
%rebase('base.html', naslov='Urejanje zaposlenega')

<div class="jumbotron">
    <div class="container">    
        <form action="{{url('zaposlen_uredi_post', emso=zaposlen[0])}}", method="post">
                <div class="form-group">
                    <label for="delovno_mesto">Delovno mesto:</label>
                    <input id="delovno_mesto" name="delovno_mesto" type="text" class="form-control" placeholder="Delovno mesto" value="{{zaposlen[1]}}" required
                    oninput="this.setCustomValidity('')"
                    oninvalid="this.setCustomValidity('Polje je obvezno!')">
                </div>
                <div class="form-group">
                    <label for="placa">Plača:</label>
                    <input id="placa" name="placa" type="text" class="form-control" placeholder="Plača v &euro;" value="{{zaposlen[2]}}" required
                    oninput="this.setCustomValidity('')"
                    oninvalid="this.setCustomValidity('Polje je obvezno!')">
                </div>
            <button type="submit" class="btn btn-primary">Uredi zaposlenega</button>
        </form>
    </div>
    </div>
